<h2>Enrol Class</h2>
<br>
<form method="POST" action="/gym_classes">
  <div>

    <div>
      <label for="title">Class:</label>
      <input type="text" name="title" id="title"/>
    </div>
    <br>
    <div>
      <label for="capacity">Capacity:</label>
      <input type="text" name="capacity" id="capacity"/>
    </div>
      <br>
      <input class="btn" type="submit" value="Enrol Class"/>
    </div>
