<h2>Enrol Class</h2>
<br>
<form method="POST" action="/gym_classes">
  <div>

    <div>
      <label for="title">Class:</label>
      <input type="text" name="title" id="title"/>
    </div>
    <br>
    <div>
      <label for="capacity">Capacity:</label>
      <input type="number" name="capacity" id="capacity"/>
    </div>
    <br>

    <div>
    <label>Date:<select name="date_class">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </label>
  </div>

    <div>
    <label>Time:<select name="time">
        <option value="07:00">07:00</option>
        <option value="08:00">08:00</option>
        <option value="09:00">09:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00">12:00</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="16:00">16:00</option>
        <option value="17:00">17:00</option>
        <option value="18:00">18:00</option>
        <option value="20:00">20:00</option>
        <option value="22:00">22:00</option>
      </select>
    </label>
  </div>

  <div>
  <label>Premium Class:<select name="premium_membership">
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
  </label>
</div>
    <input class="btn" type="submit" value="Enrol Class"/>
