<h2>Enrol Class</h2>
<form method="POST" action="/gym_classes">
  <div>

    <div>
      <label for="title">Class:</label>
      <input type="text" name="title" id="title"/>
    </div>

    <div>
      <label for="capacity">Capacity:</label>
      <input type="text" name="capacity" id="capacity"/>
    </div>

      <input type="submit" value="Enrol Class"/>
    </div>
