
<h2><%= @gym_class.title %></h2>

<p>Class: <%= @gym_class.title %></p>
<p>Capacity: <%= @gym_class.capacity%></p>

<form action="/gym_classes/<%= @gym_class.id %>" method="POST"><input class="btn btn--action" type="submit" value="Delete Class"></form>
