
<h2><%= @gym_class.title %></h2>

<p>Class: <%= @gym_class.title %></p>
<p>Capacity: <%= @gym_class.capacity%></p>

<form action="/gym_classes/:id<%= @gym_class.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
