<!DOCTYPE html>
<html>
<head>
  <title>Clyde's Gym</title>
  <link rel="icon" href="/images/icon.png" />
  <link rel="stylesheet" type="text/css" href="/styles/button.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
    <link rel="stylesheet" type="text/css" href="/styles/table.css">
    <link rel="stylesheet" type="text/css" href="/styles/body.css">
</head>
<body>
  <main>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/members">Members</a>
      </li>
      <li>
        <a href="/gym_classes">Classes</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
      </li>
    </ul>
  </nav>
  <section>
  <%= yield %>
  </section>
  </main>

</body>
</html>
