<h1>Create a Booking</h1>

<form action="/bookings" method="POST">
  <% if @member.premium == true %>
  <label>
    Select a Class (Premium Classes Included):
    <select name="gym_class_id">
      <% for gym_class in @gym_classes %>
      <% if gym_class.left_spaces %>
      <option value="<%= gym_class.id %>"><%= gym_class.title %></option>
      <% end %>
      <% end %>
      <% end %>
    </select>
  </label>

<% if @member.premium != true%>
  <label>
    Select a Class:
    <select name="gym_class_id">
      <% for gym_class in @gym_classes %>
      <% if gym_class.left_spaces && !gym_class.premium_gym %>
      <option value="<%= gym_class.id %>"><%= gym_class.title %></option>
      <% end %>
      <% end %>
    </select>
  </label>
<% end %>
  <input class="btn" type='submit' value="Done">
</form>
