
td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid grey;
}

table {
  border-collapse: collapse;
}

.box-shadow_m_index {
  margin-left: 20px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.6;
  width: 400px;
  padding: 10px;
  filter: alpha(opacity=60);

}

.box-shadow_g_index {
  margin-left: 20px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.6;
  width: 400px;
  padding: 10px;
  filter: alpha(opacity=60);
}

.box-shadow_b_index {
  margin-left: 20px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.6;
  width: 450px;
  padding: 10px;
  filter: alpha(opacity=60);
}
